<!DOCTYPE html>
<html>
<head><title></title>
    <link rel="stylesheet" href="https://durakhangouts.duckdns.org/stylesheets/style.css">
    <link rel="stylesheet" href="https://durakhangouts.duckdns.org/bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="https://durakhangouts.duckdns.org/bower_components/angular/angular.js"></script>
    <!--script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js')--></head>
<body><h1></h1>

<p>Welcome to </p>

<div id="durak-container" ng-app ng-cloak class="app"><p>test Nothing here {{'yet' + '!'}}</p></div>
</body>
</html>